#container{
    margin :75px;
    /* height:auto;*/
    width:400px;
    background-color:rgb(230, 241, 25);
    border-radius: 15px;
    padding-top:20px;
    border:2px solid black;
    
    
    
 }
 #result {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
 }
 body{
    background-color:grey;
 }
 #result p{
    height: 27px;
    border:1px solid black;
    padding-top:8px;
    width:350px;
    text-align:center;

 }
 tr{
    height:29px;
 }